@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 92%;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #1A2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
  font-size: 75%;
}

h2, h3, h4, h5 {
  margin: 0 0 3px;
}
